## Measuring Success: Splitting up the data for train, validation, and test set

Split the dataset up into the following segments:
1. Training Data: 60%
2. Validation Data: 20%
3. Test Data: 20%

### Read in data

In [2]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp37-cp37m-win_amd64.whl (6.8 MB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\ambikesh\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn->sklearn) (1.18.2)
Requirement already satisfied: scipy>=0.19.1 in c:\users\ambikesh\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1321 sha256=730bf64913da80fbe7ae886752cc636f9862a459d20bc1543a1b9930856de6be
  Stored in directory: c:\users\ambikesh\appdata\local\pip\cache\wheels\46\ef\c3\157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: joblib, threadpoolctl, scikit-learn, sklearn
Successfully installed joblib-1.0.1 scikit-learn-0.24.2 sklearn-0.0 threadpoolctl-2.1.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.1.1; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\users\ambikesh\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split as tts

titanic = pd.read_csv('../../../titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Split into train, validation, and test set

In [7]:
features = titanic.drop('Survived', axis=1)
labels = titanic['Survived']

In [14]:
X_train , X_test , Y_train , Y_test = tts(features , labels , test_size = 0.4 , random_state = 42)
X_test , X_val , Y_test , Y_val = tts(X_test , Y_test , test_size = 0.5, random_state = 42)

In [15]:
print(len(labels), len(Y_train), len(Y_val), len(Y_test))

891 534 179 178